h1{
    color: rgb(119, 0, 0);
    background-color: rgb(145, 175, 230);
    font:caption
}

h2{
    color: rgb(204, 71, 71);
    background-color: rgb(252, 205, 88);

}

.Encabezado{
    font-size: 80px;
    background-color: rgb(181, 123, 235);
}